<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-vault-index") %>>
                    <a href="/docs/providers/vault/index.html">Vault Provider</a>
                </li>

                <li<%= sidebar_current("docs-vault-provider-version-2-upgrade") %>>
                    <a href="/docs/providers/vault/guides/version_2_upgrade.html">2.0.0 Upgrade Guide</a>
                </li>

                <li<%= sidebar_current("docs-vault-datasource") %>>
                <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">

                        <li<%= sidebar_current("docs-vault-datasource-approle-auth-backend-role-id") %>>
                            <a href="/docs/providers/vault/d/approle_auth_backend_role_id.html">vault_approle_auth_backend_role_id</a>
                        </li>
                        <li<%= sidebar_current("docs-vault-datasource-auth-backend") %>>
                            <a href="/docs/providers/vault/d/auth_backend.html">vault_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-ad-access-credentials") %>>
                            <a href="/docs/providers/vault/d/ad_access_credentials.html">vault_ad_access_credentials</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-aws-access-credentials") %>>
                            <a href="/docs/providers/vault/d/aws_access_credentials.html">vault_aws_access_credentials</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-azure-access-credentials") %>>
                            <a href="/docs/providers/vault/d/azure_access_credentials.html">vault_azure_access_credentials</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-transform-decode") %>>
                            <a href="/docs/providers/vault/generated/datasources/transform/decode/role_name.html">vault_transform_decode</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-transform-encode") %>>
                            <a href="/docs/providers/vault/generated/datasources/transform/encode/role_name.html">vault_transform_encode</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-generic-secret") %>>
                            <a href="/docs/providers/vault/d/generic_secret.html">vault_generic_secret</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-identity-group") %>>
                            <a href="/docs/providers/vault/d/identity_group.html">vault_identity_group</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-identity-entity") %>>
                            <a href="/docs/providers/vault/d/identity_entity.html">vault_identity_entity</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-kubernetes-auth-backend-config") %>>
                            <a href="/docs/providers/vault/d/kubernetes_auth_backend_config.html">vault_kubernetes_auth_backend_config</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-kubernetes-auth-backend-role") %>>
                            <a href="/docs/providers/vault/d/kubernetes_auth_backend_role.html">vault_kubernetes_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-datasource-policy-document") %>>
                            <a href="/docs/providers/vault/d/policy_document.html">vault_policy_document</a>
                        </li>

                    </ul>
                </li>

                <li<%= sidebar_current("docs-vault-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-vault-resource-alicloud-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/alicloud_auth_backend_role.html">vault_alicloud_auth_backend_role</a>
                        </li>
                        <li<%= sidebar_current("docs-vault-resource-approle-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/approle_auth_backend_role.html">vault_approle_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-approle-auth-backend-login") %>>
                            <a href="/docs/providers/vault/r/approle_auth_backend_login.html">vault_approle_auth_backend_login</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-approle-auth-backend-role-secret-id") %>>
                            <a href="/docs/providers/vault/r/approle_auth_backend_role_secret_id.html">vault_approle_auth_backend_role_secret_id</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-audit") %>>
                            <a href="/docs/providers/vault/r/audit.html">vault_audit</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-auth-backend") %>>
                            <a href="/docs/providers/vault/r/auth_backend.html">vault_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-cert") %>>
                            <a href="/docs/providers/vault/r/aws_auth_backend_cert.html">vault_aws_auth_backend_cert</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-client") %>>
                            <a href="/docs/providers/vault/r/aws_auth_backend_client.html">vault_aws_auth_backend_client</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-identity-whitelist") %>>
                            <a href="/docs/providers/vault/r/aws_auth_backend_identity_whitelist.html">vault_aws_auth_backend_identity_whitelist</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-login") %>>
                            <a href="/docs/providers/vault/r/aws_auth_backend_login.html">vault_aws_auth_backend_login</a>
                        </li>
                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/aws_auth_backend_role.html">vault_aws_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-role-tag") %>>
                            <a href="/docs/providers/vault/r/aws_auth_backend_role_tag.html">vault_aws_auth_backend_role_tag</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-roletag-blacklist") %>>
                            <a href="/docs/providers/vault/r/aws_auth_backend_roletag_blacklist.html">vault_aws_auth_backend_roletag_blacklist</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-auth-backend-sts-role") %>>
                          <a href="/docs/providers/vault/r/aws_auth_backend_sts_role.html">vault_aws_auth_backend_sts_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ad-secret-backend") %>>
                            <a href="/docs/providers/vault/r/ad_secret_backend.html">vault_ad_secret_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ad-secret-backend-library") %>>
                            <a href="/docs/providers/vault/r/ad_secret_backend_library.html">vault_ad_secret_backend_library</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ad-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/ad_secret_backend_role.html">vault_ad_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-secret-backend") %>>
                            <a href="/docs/providers/vault/r/aws_secret_backend.html">vault_aws_secret_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-aws-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/aws_secret_backend_role.html">vault_aws_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-azure-auth-backend-config") %>>
                            <a href="/docs/providers/vault/r/azure_auth_backend_config.html">vault_azure_auth_backend_config</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-azure-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/azure_auth_backend_role.html">vault_azure_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-azure-secret-backend") %>>
                            <a href="/docs/providers/vault/r/azure_secret_backend.html">vault_azure_secret_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-azure-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/azure_secret_backend_role.html">vault_azure_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-cert-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/cert_auth_backend_role.html">vault_cert_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-consul-secret-backend") %>>
                            <a href="/docs/providers/vault/r/consul_secret_backend.html">vault_consul_secret_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-consul-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/consul_secret_backend_role.html">vault_consul_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-database-secret-backend-connection") %>>
                            <a href="/docs/providers/vault/r/database_secret_backend_connection.html">vault_database_secret_backend_connection</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-database-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/database_secret_backend_role.html">vault_database_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-database-secret-backend-static-role") %>>
                            <a href="/docs/providers/vault/r/database_secret_backend_static_role.html">vault_database_secret_backend_static_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-gcp-auth-backend") %>>
                            <a href="/docs/providers/vault/r/gcp_auth_backend.html">vault_gcp_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-gcp-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/gcp_auth_backend_role.html">vault_gcp_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-gcp-secret-backend") %>>
                            <a href="/docs/providers/vault/r/gcp_secret_backend.html">vault_gcp_secret_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-gcp-secret-roleset") %>>
                            <a href="/docs/providers/vault/r/gcp_secret_roleset.html">vault_gcp_secret_roleset</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-generic-endpoint") %>>
                            <a href="/docs/providers/vault/r/generic_endpoint.html">vault_generic_endpoint</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-generic-secret") %>>
                            <a href="/docs/providers/vault/r/generic_secret.html">vault_generic_secret</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-github-auth-backend") %>>
                            <a href="/docs/providers/vault/r/github_auth_backend.html">vault_github_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-github-team") %>>
                            <a href="/docs/providers/vault/r/github_team.html">vault_github_team</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-github-user") %>>
                            <a href="/docs/providers/vault/r/github_user.html">vault_github_user</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-identity-entity") %>>
                            <a href="/docs/providers/vault/r/identity_entity.html">vault_identity_entity</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-identity-entity-policies") %>>
                            <a href="/docs/providers/vault/r/identity_entity_policies.html">vault_identity_entity_policies</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-identity-entity-alias") %>>
                            <a href="/docs/providers/vault/r/identity_entity_alias.html">vault_identity_entity_alias</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-identity-group") %>>
                            <a href="/docs/providers/vault/r/identity_group.html">vault_identity_group</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-identity-group-member-entity-ids") %>>
                            <a href="/docs/providers/vault/r/identity_group_member_entity_ids.html">vault_identity_group_member_entity_ids</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-identity-group-policies") %>>
                            <a href="/docs/providers/vault/r/identity_group_policies.html">vault_identity_group_policies</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-identity-group-alias") %>>
                            <a href="/docs/providers/vault/r/identity_group_alias.html">vault_identity_group_alias</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-identity-oidc") %>>
                            <a href="/docs/providers/vault/r/identity_oidc.html">vault_identity_oidc</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-identity-oidc-key") %>>
                            <a href="/docs/providers/vault/r/identity_oidc_key.html">vault_identity_oidc_key</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-identity-oidc-key-allowed-client-id") %>>
                            <a href="/docs/providers/vault/r/identity_oidc_key_allowed_client_id.html">vault_identity_oidc_key_allowed_client_id</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-identity-oidc-role") %>>
                            <a href="/docs/providers/vault/r/identity_oidc_role.html">vault_identity_oidc_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-jwt-auth-backend") %>>
                            <a href="/docs/providers/vault/r/jwt_auth_backend.html">vault_jwt_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-jwt-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/jwt_auth_backend_role.html">vault_jwt_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-kubernetes-auth-backend-config") %>>
                            <a href="/docs/providers/vault/r/kubernetes_auth_backend_config.html">vault_kubernetes_auth_backend_config</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-kubernetes-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/kubernetes_auth_backend_role.html">vault_kubernetes_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ldap-auth-backend") %>>
                            <a href="/docs/providers/vault/r/ldap_auth_backend.html">vault_ldap_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ldap-auth-backend-user") %>>
                            <a href="/docs/providers/vault/r/ldap_auth_backend_user.html">vault_ldap_auth_backend_user</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ldap-auth-backend-group") %>>
                            <a href="/docs/providers/vault/r/ldap_auth_backend_group.html">vault_ldap_auth_backend_group</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-mfa-duo") %>>
                            <a href="/docs/providers/vault/r/mfa_duo.html">vault_mfa_duo</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-mount") %>>
                            <a href="/docs/providers/vault/r/mount.html">vault_mount</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-namespace") %>>
                            <a href="/docs/providers/vault/r/namespace.html">vault_namespace</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-okta-auth-backend") %>>
                            <a href="/docs/providers/vault/r/okta_auth_backend.html">vault_okta_auth_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-okta-auth-backend-group") %>>
                            <a href="/docs/providers/vault/r/okta_auth_backend_group.html">vault_okta_auth_backend_group</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-okta-auth-backend-user") %>>
                            <a href="/docs/providers/vault/r/okta_auth_backend_user.html">vault_okta_auth_backend_user</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend.html">vault_pki_secret_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-cert") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_cert.html">vault_pki_secret_backend_cert</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-config-ca") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_config_ca.html">vault_pki_secret_backend_config_ca</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-config-urls") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_config_urls.html">vault_pki_secret_backend_config_urls</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki_secret_backend_crl_config") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_crl_config.html">vault_pki_secret_backend_crl_config</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-intermediate-cert-request") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_intermediate_cert_request.html">vault_pki_secret_backend_intermediate_cert_request</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-intermediate-set-signed") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_intermediate_set_signed.html">vault_pki_secret_backend_intermediate_set_signed</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_role.html">vault_pki_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-root-cert") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_root_cert.html">vault_pki_secret_backend_root_cert</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-root-sign-intermediate") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_root_sign_intermediate.html">vault_pki_secret_backend_root_sign_intermediate</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-pki-secret-backend-sign") %>>
                            <a href="/docs/providers/vault/r/pki_secret_backend_sign.html">vault_pki_secret_backend_sign</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-policy") %>>
                            <a href="/docs/providers/vault/r/policy.html">vault_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-egp-policy") %>>
                            <a href="/docs/providers/vault/r/egp_policy.html">vault_egp_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-rgp-policy") %>>
                            <a href="/docs/providers/vault/r/rgp_policy.html">vault_rgp_policy</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-quota-lease-count") %>>
                            <a href="/docs/providers/vault/r/quota_lease_count.html">vault_quota_lease_count</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-quota-rate-limit") %>>
                            <a href="/docs/providers/vault/r/quota_rate_limit.html">vault_quota_rate_limit</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-token") %>>
                            <a href="/docs/providers/vault/r/token.html">vault_token</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-token-auth-backend-role") %>>
                            <a href="/docs/providers/vault/r/token_auth_backend_role.html">vault_token_auth_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ssh-secret-backend-ca") %>>
                            <a href="/docs/providers/vault/r/ssh_secret_backend_ca.html">vault_ssh_secret_backend_ca</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-ssh-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/ssh_secret_backend_role.html">vault_ssh_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-rabbitmq-secret-backend") %>>
                            <a href="/docs/providers/vault/r/rabbitmq_secret_backend.html">vault_rabbitmq_secret_backend</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-rabbitmq-secret-backend-role") %>>
                            <a href="/docs/providers/vault/r/rabbitmq_secret_backend_role.html">vault_rabbitmq_secret_backend_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-transform-alphabet") %>>
                            <a href="/docs/providers/vault/generated/resources/transform/alphabet/name.html">vault_transform_alphabet</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-transform-role") %>>
                            <a href="/docs/providers/vault/generated/resources/transform/role/name.html">vault_transform_role</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-transform-template") %>>
                            <a href="/docs/providers/vault/generated/resources/transform/template/name.html">vault_transform_template</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-transform-transformation") %>>
                          <a href="/docs/providers/vault/generated/resources/transform/transformation/name.html">vault_transform_transformation</a>
                        </li>

                        <li<%= sidebar_current("docs-vault-resource-transit-secret-backend-key") %>>
                            <a href="/docs/providers/vault/r/transit_secret_backend_key.html">vault_transit_secret_backend_key</a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
